.button{
	-fx-min-height: 100;
	-fx-min-width: 100;
	-fx-text-fill: #b21933;
	-fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}
.toggle-button {
	-fx-min-height: 150;
	-fx-min-width: 150;
	-fx-text-fill: #b21933;
	-fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}


#playButton {
	-fx-min-height: 60px;
	-fx-min-width: 100px;
	-fx-color: pink;
}
#Record-Button {
		-fx-background-color: transparent;
	-fx-background-image:url("/images/Record-Button-Off.png");
	-fx-background-size: 130px 130px;
}
#Record-Button:selected {
		-fx-background-color: transparent;
	-fx-background-image:url("/images/Record-Button-On.png");
	-fx-background-size: 130px 130px;
}

#background {
     -fx-background-color: black;
     -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #434343, #1a1a1a);
     -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, #EB75C5, #01225B);
    -fx-border-width: 30px;
 }
 
 #Drum-Buttons {
    -fx-padding: 25;
    -fx-spacing: 20;
    -fx-alignment: center;
}
#Bottom{
	-fx-alignment: center;
}
 
 #buttons_1 {
    -fx-padding: 15;
    -fx-spacing: 20;
    

    -fx-border-style: solid inside;
    -fx-border-color: black;

    -fx-border-width: 5;
}

#Drum1 {
	-fx-background-color: transparent;
	-fx-background-image:url("/images/Background.png");
	-fx-background-size: 100px 100px;
}


#buttons_2 {
    -fx-color: red;
    -fx-padding: 15;
    -fx-spacing: 10;
    

    -fx-border-style: solid inside;
    -fx-border-color: red;

    -fx-border-width: 5;
}

#buttons_3 {
    -fx-color: yellow;
    -fx-padding: 15;
    -fx-spacing: 10;

    -fx-border-style: solid inside;
    -fx-border-color: yellow;

    -fx-border-width: 5;
}

#stop_btn {
    -fx-background-color: red;
    -fx-text-fill: black;
    -fx-border-color:black;
}

.slider .track {
    -fx-background-color: black;
    -fx-background-radius: 0;
}

.slider .thumb {
    -fx-pref-height: 50px;
    -fx-pref-width: 15px;
    -fx-background-color: #252525;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 5px;
}

#buttons_4 {
    -fx-color: orange;
    -fx-padding: 15;
    -fx-spacing: 10;

    -fx-border-style: solid inside;
    -fx-border-color: black;

    -fx-border-width: 5;
}

#record_btn {
    -fx-background-radius: 5em;
    -fx-background-color: red;
    -fx-border-radius: 5em;
    -fx-border-color: black;
}

#button_2_round {
    -fx-min-height: 63px;
    -fx-background-radius: 5em;
}

#button_3_round {
    -fx-min-height: 50px;
    -fx-background-radius: 5em;
    -fx-alignment: center;
}


#buttons_1, #buttons_2, #buttons_3, #buttons_4, #Bottom {
     -fx-border-color: black;
      -fx-border-width: 5;
 }
 
 #time-label {
	-fx-alignment: center;
	-fx-font-size: 20;
	-fx-font-family: 'Times New Roman';
	-fx-text-fill: white;
}
#Yes-No-Button{
	-fx-min-height: 50px;
    -fx-background-radius: 5em;
    -fx-text-fill: black;
	-fx-font-size: 15;
}
#Button-Container{
	-fx-alignment: center;
}

