
/* ------------------------------------------Start-Seite ------------------------------------------ */

#start_background {
	-fx-alignment: center;
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #EB75C5, #01225B);  
}

#playButton {
	-fx-min-height: 90px;
	-fx-min-width: 150px;
	-fx-background-color: white;
	-fx-text-fill: #4E3B8B;
	-fx-font-size: 25;
	-fx-font-family: 'Delicious';
	-fx-font-weight: bold;
	
	
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 ); 
}

#playButton:hover {
	-fx-background-color: #4E3B8B;
	-fx-text-fill: white;
}


/* ----------------------------------------- Dj-Seite ------------------------------------------ */

#dj_background {
     -fx-background-color: black;
     -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #434343, #1a1a1a);
     -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, #EB75C5, #01225B);
     -fx-border-width: 30px;
 }
 
 
 /* -------------------- Drums -------------------- */
 /* alle Drum Buttons */
#Drum {
	-fx-min-height: 110px;
	-fx-min-width: 150px;
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #383838, #161616 );
    -fx-border-style: solid inside;
	-fx-border-color: purple;
    -fx-border-width: 5;
    
    -fx-font-family: 'Delicious';
    -fx-text-fill: lightsteelblue;
}

#Drum:pressed {
    -fx-border-color: red;
}

#Drum:hover{
    -fx-border-color: linear-gradient(to right, #f953c6, #b91d73);
    
}

#Drum_Extra {
	-fx-min-height: 90px;
	-fx-min-width: 150px;
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #434343, #1a1a1a);
    -fx-border-style: solid inside;
	-fx-border-color: blue;
    -fx-border-width: 5;
    
    -fx-font-family: 'Delicious';
	-fx-text-fill: lightsteelblue;
}

#Drum_Extra:hover {
    -fx-border-color: linear-gradient(to right, #00c6ff, #0072ff);
}

/* alle HBoxen von Drum Buttons */
#Drum-Buttons {
    -fx-padding: 25;
    -fx-spacing: 20;
    -fx-alignment: center;
}
 
 

 /* -------------------- Guitars --------------------- */
 
 /* alle Gitarre 1 Buttons */
 #Guitar_1 {
 	-fx-color: 	indigo;
 	-fx-spacing: 10;
 	-fx-background-radius: 15px;
 	
 	-fx-font-family: 'Delicious';
	-fx-text-fill: lightsteelblue;
 	
 }

 #Guitar_1:hover {
 	-fx-background-color:linear-gradient(to top, #6a3093, #a044ff);
 } 
 
 
 /* alle Gitarre 2 Buttons */
#Guitar_2{
 	-fx-background-color: 	mediumvioletred;
 	-fx-spacing: 10;
 	-fx-background-radius: 15px;
 	-fx-border-style: solid inside;
 	-fx-border-radius: 15;
 	-fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #434343, #1a1a1a);
 	
 	-fx-font-family: 'Delicious';
	-fx-text-fill: lightsteelblue;
 }
 
 #Guitar_2:hover {
 	-fx-background-color: linear-gradient(to top, #b24592, #f15f79);
 } 
 
  
  /* alle HBoxen von Gitarre Buttons */
 #Gitarren-Buttons {
    -fx-padding: 5;
    -fx-spacing: 20;
    -fx-alignment: center;
}
 
 
 /* -------------------- Bass --------------------- */

 /* alle Bass Buttons */
#Bass {
	-fx-background-color: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6);
	-fx-spacing: 10;
	-fx-background-radius: 30px;
	-fx-border-style: solid inside;
 	-fx-border-radius: 30;
 	-fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #434343, #1a1a1a);
 	
 	-fx-font-family: 'Delicious';
	-fx-text-fill: midnightblue;
}

/* alle HBoxen von Bass Buttons */
#Bass-Buttons{
	-fx-padding: 5;
    -fx-spacing: 20;
    -fx-alignment: center;
    
    
}

#Bass:hover {
	-fx-background-color: linear-gradient(to top, #7f7fd5, #86a8e7, #91eae4);
}


 /* -------------------- Oneshots --------------------- */
 
 /* alle Oneshot Buttons */
#Oneshot {
    -fx-min-height: 50px;
    -fx-background-radius: 5em;
    -fx-alignment: center;
    -fx-color: orange;
    
    -fx-font-family: 'Delicious';
	-fx-text-fill: midnightblue;
}

#Oneshot:hover{
	-fx-color: white;
}

 /* -------------------- Recording Button --------------------- */
 
 /* Record Button */
.toggle-button {
	-fx-min-height: 150;
	-fx-min-width: 150;
	-fx-text-fill: #b21933;
	-fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}

#Record-Button {
	-fx-background-color: transparent;
	-fx-background-image:url("/images/Record-Button-Off.png");
	-fx-background-size: 130px 130px;
}
#Record-Button:selected {
	-fx-background-color: transparent;
	-fx-background-image:url("/images/Record-Button-On.png");
	-fx-background-size: 130px 130px;
}

#time-label {
	-fx-alignment: center;
	-fx-font-size: 20;
	-fx-font-family: 'Times New Roman';
	-fx-text-fill: white;
}

 /* -------------------- Stop Button --------------------- */

#stop_btn {
	-fx-min-height: 110px;
	-fx-min-width: 160px;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ed1c1c, #590909);
    -fx-text-fill: black;
    -fx-border-color:black;
    
    -fx-text-fill: black;
	-fx-font-size: 25;
	-fx-font-family: 'Delicious';
	-fx-font-weight: bold;
}



/* -------------------- Volume Slider --------------------- */

.slider .track {
    -fx-background-color: white;
    -fx-border-color:black;
    -fx-background-radius: 7;
}

.slider .thumb {
    -fx-pref-height: 70px;
    -fx-pref-width: 30px;
    -fx-background-color: linear-gradient(to top, #000000, #434343);
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 5px;
}


/* -------------------- Alert Fenster --------------------- */

#Yes-No-Button{
	-fx-min-height: 50px;
    -fx-background-radius: 5em;
    -fx-text-fill: black;
	-fx-font-size: 15;
}


#Button-Container{
	-fx-alignment: center;
}


/* -------------------- Bottom Part --------------------- */

#Bottom{
	-fx-alignment: center;
}




/* -------------------- Sonstiges --------------------- */

.button {
	-fx-min-height: 100;
	-fx-min-width: 100;
	-fx-text-fill: #b21933;
	-fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}


#row {
	-fx-padding: 15;
	-fx-spacing: 20;
}


#row, #Bottom {
     -fx-border-color: black;
     -fx-border-width: 5;
 }
 
 


