#buttons_1 {
	-fx-color: blue;
    -fx-padding: 15;
    -fx-spacing: 10;
    
    -fx-border-style: solid inside;
    -fx-border-color: blue;
    
    -fx-border-width: 5;
}

#buttons_2 {
	-fx-color: red;
    -fx-padding: 15;
    -fx-spacing: 10;
    
    -fx-border-style: solid inside;
    -fx-border-color: red;
    
    -fx-border-width: 5;
}


.buttons {
	
}